<table class="table table-sm table-bordered">
<thead>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Roster Status</th>
    <th>Actual IP</th>
    <th>Qualifying IP</th>
    <th>Current IP</th>
    <th>Needed IP</th>
  </tr>
</thead>
<tbody>
    <%- pitchers.each do |rp| %>
      <%- playing_time = rp.playing_time -%>
      <%- if !playing_time.nil?  -%>
        <%- if playing_time.qualified? -%>
        <tr class="table-success">
        <%- else -%>
        <tr class="table-warning">
        <%- end -%>
          <td><%= player_season_link(rp.player,@season) -%></td>
          <td><%= rp.position -%></td>
          <td><%= rp.status -%></td>
          <td><%= display_ip(playing_time.actual_ip) -%></td>
          <td><%= playing_time.qualifying_ip -%></td>
            <td><%= display_ip(playing_time.ip) -%></td>
          <td><%= display_ip(playing_time.need_ip) -%></td>
        </tr>
      <%- else -%>
        <tr class="table-danger">
          <td><%= player_season_link(rp.player,@season) -%></td>
          <td><%= rp.position -%></td>
          <td><%= rp.status -%></td>
          <td colspan='4'><strong>No playing time data available!</strong></td>
        </tr>
      <%- end -%>
    <%- end -%>
</tbody>
</table>
