<% @page_title = "#{@season} Playing Time Report" %>

<div class="row">
  <nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <%- @teams.each do |team| -%>
          <li class="nav-item">
            <a class="nav-link active" href="#<%= team.abbrev -%>">
            <span><%= inline_svg(team.logo, size: "25px*25px") -%></span>
            <%= team.name -%>
            </a>
          </li>
        <%- end -%>
      </ul>
    </div>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <% @teams.each do |team| -%>
    <div id="<%= team.abbrev -%>"></div>
    <div class="page-header" id="overview">
      <h2>
        <%=  link_to(inline_svg(team.logo, size: "200px*200px"),team_path(team, season: @season))  -%>
        <%= "#{team.name} - #{@season} Playing Time Report" %>
        <%- gamescount = team.records.for_season(@season).first.gamescount -%>
        <small class="text-muted">Total Games: <%= gamescount -%> | Remaining Games: <%= 162 - gamescount -%></small>
      </h2>
    </div>

      
    <div class="page-header">
      <h2>Batters</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render(:partial => 'bpt_table', :locals => {:batters => team.rosters_for_season_with_playing_time(@season,Player::BATTER)} )%>
      </div>
    </div>


    <div class="page-header">
      <h1>Pitchers</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render(:partial => 'ppt_table', :locals => {:pitchers => team.rosters_for_season_with_playing_time(@season,Player::PITCHER)} )%>
      </div>
    </div>
    <%- end -%>

  </main>

</div>
