<% @page_title = "#{@team.name}" %>

<div class="page-header" id="overview">
  <h1>
  <%= inline_svg(@team.logo, size: "200px*200px") -%>
  <%= @page_title %>
  </h1>
</div>

<div class="page-header">
  <h1>Season Stats</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th>Season</th>
          <th>W-L</th>
          <th>PCT</th>
          <th>GB</th>
          <th>RF</th>
          <th>RA</th>
          <th>X_PCT</th>
          <th>X_WL</th>
          <th>Home</th>
          <th>Road</th>
          <th>v.Hum</th>
          <th>v.Com</th>
          <th>v.Winners</th>
          <th>v.Losers</th>
        </tr>
      </thead>
      <tbody>
        <%- Game.available_seasons.each do |season| -%>
          <tr>
            <%- record = @team.records.final_for_season(season).first %>
            <td><%= link_to(season,team_path(@team,season: season)) %></td>
            <%- if record.nil? -%>
            <td colspan="13"><em>no records available</em></td>
            <%- else -%>            
            <td><%= display_wl([record.wins,record.losses]) %></td>
            <td><%= number_with_precision(record.win_pct.to_f,:precision => 3)%></td>
            <td><%= display_gb(record.gb) %></td>
            <td><%= record.rf %></td>
            <td><%= record.ra %></td>
            <td><%= number_with_precision(record.expected_pct,:precision => 3)%></td>
            <td><%= display_wl(record.expected_wl) %></td>
            <td><%= display_wl(record.home_wl) %></td>
            <td><%= display_wl(record.road_wl) %></td>
            <td><%= display_wl(record.human_wl) %></td>
            <td><%= display_wl(record.computer_wl) %></td>
            <td><%= display_wl(record.winners_wl) %></td>
            <td><%= display_wl(record.losers_wl) %></td>
            <%- end -%>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>


