<% @page_title = "#{@team.name} - #{@season} Season" %>

<div class="page-header" id="overview">
  <h1>
    <%= inline_svg(@team.logo, size: "200px*200px") -%>
    <%= @page_title %>
    <small class="text-muted">(<%= link_to('all seasons',team_path(@team)) %>)</small>
  </h1>
</div>


  <div class="page-header">
    <h1>Season Stats</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th>W-L</th>
            <th>PCT</th>
            <th>GB</th>
            <th>L10</th>
            <th>STRK</th>
            <th>RF</th>
            <th>RA</th>
            <th>X_PCT</th>
            <th>X_WL</th>
            <th>Home</th>
            <th>Road</th>
            <th>v.Winners</th>
            <th>v.Losers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%- record = @team.records.for_season(@season).first %>
            <%- if record.nil? -%>
            <td colspan="15"><em>no records available</em></td>
            <%- else -%>
            <td><%= display_wl([record.wins,record.losses]) %></td>
            <td><%= number_with_precision(record.win_pct.to_f,:precision => 3)%></td>
            <td><%= display_gb(record.gb) %></td>
            <td><%= display_wl(record.last_ten) %></td>
            <td><%= record.streak %></td>
            <td><%= record.rf %></td>
            <td><%= record.ra %></td>
            <td><%= number_with_precision(record.expected_pct,:precision => 3)%></td>
            <td><%= display_wl(record.expected_wl) %></td>
            <td><%= display_wl(record.home_wl) %></td>
            <td><%= display_wl(record.road_wl) %></td>
            <td><%= display_wl(record.winners_wl) %></td>
            <td><%= display_wl(record.losers_wl) %></td>
            <%- end -%>
          </tr>
        </tbody>
      </table>
    </div>




  </div>

  <div class="page-header">
    <h1>Roster Stats
    <%- if (RealBattingStat.for_season(@season).count > 0 and  RealPitchingStat.for_season(@season).count > 0) %>
    <small class="text-muted">(<%= link_to('Playing Time Report',playingtime_team_path(@team, season: @season)) %>)</small>
    <%- end -%>
    </h1>
  </div>

  <div class="page-header">
    <h3>Hitting</h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Position</th>
          <% DefinedStat.batting.core.order(:default_display_order).pluck('name').each do |name| %>
            <th><%= name %></th>
          <%- end -%>
        </tr>
      </thead>
      <tbody>
          <%- @team.rosters.for_season(@season).includes(:player,:batting_stat).order("is_pitcher ASC",:status,:last_name).each do |rp| %>
          <%- bs = rp.batting_stat -%>
          <tr>
            <td><%= player_season_link(rp.player,@season) -%></td>
            <td><%= rp.status -%></td>
            <td><%= rp.position -%></td>
            <% DefinedStat.batting.core.order(:default_display_order).pluck('name').each do |name| %>
              <%- if bs -%>
              <td><%= display_stat(bs,name) -%></td>
              <%- else -%>
              <td>-</td>
              <%- end -%>
            <%- end -%>
          </tr>
          <%- end -%>
      </tbody>
      </table>
    </div>
  </div>

    <div class="page-header">
    <h3>Pitching</h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Position</th>
          <% DefinedStat.pitching.core.order(:default_display_order).pluck('name').each do |name| %>
            <th><%= name %></th>
          <%- end -%>
        </tr>
      </thead>
      <tbody>
          <%- @team.rosters.pitchers.for_season(@season).includes(:player,:pitching_stat).order(:status,:last_name).each do |rp| %>
          <%- ps = rp.pitching_stat -%>
          <tr>
            <td><%= player_season_link(rp.player,@season) -%></td>
            <td><%= rp.status -%></td>
            <td><%= rp.position -%></td>
            <% DefinedStat.pitching.core.order(:default_display_order).pluck('name').each do |name| %>
              <%- if ps -%>
              <td><%= display_stat(ps,name) -%></td>
              <%- else -%>
              <td>-</td>
              <%- end -%>
            <%- end -%>
          </tr>
          <%- end -%>
      </tbody>
      </table>
    </div>
  </div>

  <div class="page-header">
    <h1>Game Results</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered table-striped">
    <thead>
      <tr>
      <th>Date</th>
      <th>Opponent</th>
      <th>Win/Loss</th>
      <th>Score</th>
      <th>Innings</th>
      </tr>
    </thead>
    <tbody>
      <%- @team.team_games.for_season(@season).order("date DESC").each do |game| -%>
        <tr>
          <td><%= game_link(game) -%></td>
          <td><%= (game.home? ? 'vs.' : '@')%> <%= team_season_link(game.opponent, @season) -%></td>
          <td><%= (game.win? ? 'W' : 'L')%></td>
          <td><%= display_score(game.score)%></td>
          <td><%= game.total_innings %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  </div>

</div>
