<h2>Pitchers (<%= DraftPitcher.byteam(@team).count %>)</h2>

<table class="table table-bordered ">
  <thead>
    <tr>
        <th>POS</th>
        <th>NAME</th>
        <th>RANKVALUE</th>
        <th>AGE</th>
        <th>T</th>
        <%- DraftStatDistribution.core(DraftStatDistribution::PITCHER).each do |stat| %>
          <th><%= stat.upcase %></th>
        <%- end -%>
    </tr>
    </thead>
    <tbody>
    <% @pitchers.each do |pitcher| %>
        <tr>
          <td><%= pitcher.position %></td>
          <td><%= link_to("#{pitcher.fullname}", draft_player_url(pitcher)) %></td>
          <td><%= display_rankvalue(pitcher.rankvalue) %></td>
          <td><%= pitcher.statline.age %></td>
          <td><%= pitcher.statline.throws %></td>
          <%- DraftStatDistribution.core(DraftStatDistribution::PITCHER).each do |stat| %>
            <%- if stat == 'l_ops' %>
              <td><%= ops_display(pitcher,'left')%></td>
            <%- elsif stat == 'r_ops' -%>
              <td><%= ops_display(pitcher,'right')%></td>
            <%- else -%>
              <td><%= display_stat(pitcher.statline,stat) %></td>
            <%- end -%>
          <%- end -%>
        </tr>
    <% end %>
    </tbody>
</table>
