<table class="table table-bordered">
  <tbody>
    <%- teamlist.each do |team| -%>
        <%- if(team.owner.nil? or team.owner != Owner.computer) -%>
          <tr class='shaded'>
        <%- else -%>
          <tr>
        <%- end -%>
            <td><%= link_to(team.name, draft_team_path(team)) %></td>
            <td><%= team.players.count %> (<%= team.batters.count %>/<%= team.pitchers.count %>)</td>
            <td>
              <%- if !team.owner.nil? and team.owner != Owner.computer -%>
                <%= team.owner.fullname %>
              <%- end -%>
            </td>
        </tr>
    <%- end -%>
    </tbody>
</table>
