<h2>Batters (<%= DraftBatter.byteam(@team).count %>)</h2>

<table class="table table-bordered ">

  <thead>
  <tr>
      <th>POS</th>
      <th>NAME</th>
      <th>RANKVALUE</th>
      <th>AGE</th>
      <%- DraftStatDistribution.core(DraftStatDistribution::BATTER).each do |stat| %>
        <th><%= stat.upcase %></th>
      <%- end -%>
      <%- DraftBattingStatline::RATINGFIELDS.keys.each do |pos| -%>
        <th><%= pos %></th>
      <%- end -%>
  </tr>
  </thead>
  <tbody>
    <% @batters.each do |fielder| %>
      <tr>
  	    <td><%= fielder.position %></td>
        <td><%= link_to("#{fielder.fullname}", draft_player_url(fielder)) %></td>
        <td><%= display_rankvalue(fielder.rankvalue) %></td>
        <td><%= fielder.statline.age %></td>
        <%- DraftStatDistribution.core(DraftStatDistribution::BATTER).each do |stat| %>
          <%- if(fielder.statline.send(stat).blank?) -%>
            <td>n/a</td>
          <%- else -%>
            <%- if stat == 'lops' %>
              <td><%= ops_display(fielder,'left')%></td>
            <%- elsif stat == 'rops' -%>
              <td><%= ops_display(fielder,'right')%></td>
            <%- else -%>
              <td><%= fielder.statline.send(stat) %></td>
            <%- end -%>
          <%- end -%>
        <%- end -%>
        <%- DraftBattingStatline::RATINGFIELDS.each do |pos,rating_field| -%>
          <td><%= position_check(fielder,rating_field) %></td>
        <%- end -%>
      </tr>
    <% end %>
    </tbody>
</table>
