<%- if (team.is_human?) -%>
<tr class='shaded'>
<%- else -%>
<tr>
<%- end -%>
  <td>
  <%= inline_svg(team.logo, size: "25px*25px") -%>
  <%= link_to(team.name, team_path(team,season: record.season)) %>
  </td>
  <%- if record.nil? -%>
  <td colspan="17"><em>no records available</em></td>
  <%- else -%>
  <td><%= display_wl([record.wins,record.losses]) %></td>
  <td><%= number_with_precision(record.win_pct.to_f,:precision => 3)%></td>
  <td><%= display_gb(record.gb) %></td>
  <td><%= display_wl(record.last_ten) %></td>
  <td><%= record.streak %></td>
  <td><%= record.rf %></td>
  <td><%= record.ra %></td>
  <td><%= number_with_precision(record.expected_pct,:precision => 3)%></td>
  <td><%= display_wl(record.expected_wl) %></td>
  <td><%= display_wl(record.home_wl) %></td>
  <td><%= display_wl(record.road_wl) %></td>
  <td><%= display_wl(record.winners_wl) %></td>
  <td><%= display_wl(record.losers_wl) %></td>
  <td><%= display_gb(record.league_gb) %></td>
  <td><%= display_gb(record.overall_gb) %></td>
  <%- end -%>
</tr>
