<% @page_title = "League Standings for the #{@season} Season" %>

<div class="alert alert-info" role="alert">
  Stats and player lists are now available for the <%= link_to("2021 Busterleague Draft", draft_root_url) %>
</div>

<div class="page-header" id="overview">
  <h1><%= @page_title %></h1>
</div>

<div class="page-header">
  <h1>American League</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>East Division</h3>
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.by_division('American','East')} )%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>West Division</h3>
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.by_division('American','West')})%>
  </div>
</div>

<div class="page-header">
  <h1>National League</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>East Division</h3>
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.by_division('National','East')} )%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>West Division</h3>
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.by_division('National','West')})%>
  </div>
</div>

<div class="page-header">
  <h1>Overall League</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>American League</h3>
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.by_league('American')} )%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>National League</h3>
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.by_league('National')} )%>
  </div>
</div>

<div class="page-header">
  <h1>Overall</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render(:partial => 'teamlist', :locals => {:teamlist => @standings.all} )%>
  </div>
</div>
