<table class="table table-bordered">
  <thead>
    <tr>
        <th>Pick</th>
        <th>Team</th>
        <th>Player</th>
        <th>Position</th>
        <%- if @currentowner&.is_draft_admin? and !Settings.draftcomplete -%>
          <th>&nbsp;</th>
        <%- end -%>
    </tr>
  </thead>

  <tbody>
    <% pickslist.each do |draftpick| %>
      <%- if(draftpick.team.owner.nil? or draftpick.team.owner != Owner.computer) -%>
        <tr class='shaded'>
      <%- else -%>
        <tr>
      <%- end -%>
      <td><%= draftpick.overallpick %></td>
      <td>
        <%= inline_svg_tag(draftpick.team.logo, size: "25px*25px") -%>
        <%= link_to(draftpick.team.name, draft_team_path(draftpick.team)) %>
        <%- if draftpick.traded -%>
          <a name="traded" title="Traded from <%= draftpick.original_team.name %>">#</a>
        <%- end -%>
      </td>
      <%- if !draftpick.draft_player.nil? -%>
        <td><%= link_to("#{draftpick.draft_player.fullname}", draft_player_url(draftpick.draft_player)) %></td>
        <td><%= draftpick.draft_player.position.downcase %></td>
      <%- else -%>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <%- end -%>
      <%- if @currentowner&.is_draft_admin? and !Settings.draftcomplete -%>
      <td>
        <%- if !draftpick.draft_player.nil? %>
          <%= link_to("Release", draft_draft_player_path(:id => draftpick.draft_player.id, :draftaction => 'release'), {:method => :post, :class => 'btn btn-warning'}) %>
        <%- else -%>
          &nbsp;
        <%- end -%>
      </td>
      <%- end -%>
      </tr>
    <%- end -%>
    </tbody>
</table>
