<% @page_title = "#{@player.name} - #{@season} Season" %>

<div class="page-header" id="overview">
  <h1><%= @page_title %>
  <small class="text-muted">(<%= link_to('all seasons',player_path(@player)) %>)</small>
  </h1>
</div>

<div class="page-header">
  <h1>Roster </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th>Team</th>
          <th>Age</th>
          <th>Position</th>
          <th>Roster Status</th>
        </tr>
      </thead>
      <tbody>
        <%- @player.rosters.for_season(@season).each do |roster| -%>
          <tr>
            <td><%= link_to(roster.team.name,team_path(roster.team,season: @season)) %></td>
            <td><%= roster.age %></td>
            <td><%= roster.position %></td>
            <td><%= roster.status %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>

