<%- @page_title = "Create a #{RankingValue.playertype_to_s(@playertype)} Ranking" -%>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@new_rankingvalue, :html => {:class => 'form-horizontal'}) do |form| -%>
      <%= form.hidden_field(:playertype, {:value => @playertype}) %>


        	<fieldset>
          <legend>Ranking Attributes</legend>
          <p>click the attributes that you want to add to this ranking formula</p>
          <div class="rankingvaluecloud">
              <ul class="list-unstyled">
                  <%- @rankingattributes.each do |attributename| -%>
                    <li><%= add_ranking_attribute_link(@playertype, attributename) %></li>
                  <%- end -%>
              </ul>
          </div>
        	</fieldset>

        	<fieldset>
        	<div id="rankingattributes">
        	</div>
          </fieldset>


          <fieldset>
          <div class="form-group">
            <label class="col-md-3 control-label" for='label'>Ranking Value Label</label>
              <div class="col-md-9">
                <%= form.text_field(:label) %>
                <p class="help-block">Label for this Ranking Value (required!)</p>
        		  </div>
          </div>

        	<div class="form-actions">
        		<%= submit_tag('Create',:class=>'btn btn-primary') %>
        		<%= link_to('cancel', draft_ranking_values_path, :class=> 'btn') %>
        	</div>
          </fieldset>


    <% end %>
  </div>
</div>
