<table class="table table-bordered table-sm">
  <thead>
  <tr>
    <%- DraftStatDistribution.core(DraftStatDistribution::BATTER).each do |stat| %>
      <th><%= stat.upcase %></th>
    <%- end -%>
    <%- DraftBattingStatline::RATINGFIELDS.keys.each do |pos| -%>
      <th><%= pos %></th>
    <%- end -%>
  </tr>
  </thead>
  <tbody>
  <tr>
    <%- DraftStatDistribution.core(DraftStatDistribution::BATTER).each do |stat| %>
      <%- if stat == 'l_ops' %>
        <td><%= ops_display(@player,'left')%></td>
      <%- elsif stat == 'r_ops' -%>
        <td><%= ops_display(@player,'right')%></td>
      <%- else -%>
        <td><%= display_stat(@player.statline,stat) %></td>
      <%- end -%>
    <%- end -%>
    <%- DraftBattingStatline::RATINGFIELDS.each do |pos,rating_field| -%>
      <td><%= position_check(@player,rating_field) %></td>
    <%- end -%>
  </tr>
  </tbody>
</table>