<table class="table table-bordered table-sm">
  <thead>
<tr>
  <th>POS</th>
  <%- DraftStatDistribution.core(DraftStatDistribution::PITCHER).each do |stat| %>
    <th><%= stat.upcase %></th>
  <%- end -%>

</tr>
</thead>
<tbody>
<tr>
  <td><%= @player.position %></td>
  <%- DraftStatDistribution.core(DraftStatDistribution::PITCHER).each do |stat| %>
    <%- if stat == 'lops' %>
      <td><%= ops_display(@player,'left')%></td>
    <%- elsif stat == 'rops' -%>
      <td><%= ops_display(@player,'right')%></td>
    <%- else -%>
      <td><%= display_stat(@player.statline,stat) %></td>
    <%- end -%>
  <%- end -%>

</tr>
  </tbody>
</table>