<table class="table table-bordered ">
  <thead>
<tr>
  <th>POS</th>
  <%- Stat.core(Stat::PITCHER).each do |stat| %>
    <th><%= stat.upcase %></th>
  <%- end -%>

</tr>
</thead>
<tbody>
<tr>
  <td><%= @player.position %></td>
  <%- Stat.core(Stat::PITCHER).each do |stat| %>
    <%- if stat == 'lops' %>
      <td><%= ops_display(@player,'left')%></td>
    <%- elsif stat == 'rops' -%>
      <td><%= ops_display(@player,'right')%></td>  
    <%- else -%>
      <td><%= @player.statline.send(stat) %></td>
    <%- end -%>
  <%- end -%>

</tr>
  </tbody>
</table>