<%- if @currentowner -%>
<ul class="nav nav-tabs">

  <%- if @draftstatus -%>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter: <%= draftstatus_label(@draftstatus) %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <%= draftstatus_nav_item(Player::ALL_PLAYERS) %>
      <%= draftstatus_nav_item(Player::DRAFTED_PLAYERS) %>
      <%= draftstatus_nav_item(Player::NOTDRAFTED_PLAYERS) %>
      <%= draftstatus_nav_item(Player::ME_ME_ME) %>
    </ul>
  </li>
  <%- end -%>

  <%- if @brv -%>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Batter Rank: <%= @brv.label %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <%= rankingvalue_items('brv') %>
    </ul>
  </li>
  <%- end -%>

  <%- if @prv -%>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pitcher Rank: <%= @prv.label %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <%= rankingvalue_items('prv') %>
    </ul>
  </li>
  <%- end -%>

  <%- if @bsp -%>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Batter Display: <%= @bsp.label %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <%= statdisplay_items('bsp') %>
    </ul>
  </li>
  <%- end -%>

  <%- if @psp -%>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pitcher Display: <%= @psp.label %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <%= statdisplay_items('psp') %>
    </ul>
  </li>
  <%- end -%>


</ul>
<%- end -%>
