<%- if @currentowner -%>
<%- if @draftstatus -%>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter: <%= draftstatus_label(@draftstatus) %> <b class="caret"></b>
    </button>
    <div class="dropdown-menu">
      <%= draftstatus_nav_item(DraftPlayer::ALL_PLAYERS) %>
      <%= draftstatus_nav_item(DraftPlayer::DRAFTED_PLAYERS) %>
      <%= draftstatus_nav_item(DraftPlayer::NOTDRAFTED_PLAYERS) %>
      <%= draftstatus_nav_item(DraftPlayer::ME_ME_ME) %>
    </div>
  </div>
<%- end -%>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Owner Rank: <%= @draft_owner_rank ? "On" : "Off" %> <b class="caret"></b>
  </button>
  <div class="dropdown-menu">
    <%= or_toggle_link %>
  </div>
</div>

<%- if @brv -%>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Batter Rank: <%= @brv.label %> <b class="caret"></b>
  </button>
  <div class="dropdown-menu">
    <%= rankingvalue_items('brv') %>
  </div>
</div>
<%- end -%>

<%- if @prv -%>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pitcher Rank: <%= @prv.label %> <b class="caret"></b>
  </button>
  <div class="dropdown-menu">
    <%= rankingvalue_items('prv') %>
  </div>
</div>
<%- end -%>

<%- if @bsp -%>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Batter Display: <%= @bsp.label %> <b class="caret"></b>
  </button>
  <div class="dropdown-menu">
    <%= statdisplay_items('bsp') %>
  </div>
</div>
<%- end -%>

<%- if @psp -%>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pitcher Display: <%= @psp.label %> <b class="caret"></b>
    </button>
    <div class="dropdown-menu">
      <%= statdisplay_items('psp') %>
    </div>
  </div>
<%- end -%>
<%- end -%>
