<table class="table table-bordered table-condensed table-hover">
  <thead>
  <tr>
      <th>NAME</th>
      <th>POS</th>
      <th>TEAM</th>
      <th>RANKVALUE</th>
      <%- @bsp.column_list.each do |stat| %>
        <th><%= stat.upcase %></th>
      <%- end -%>
  </tr>
  </thead>

  <tbody>
  <% playerlist.each do |fielder| %>
  <%- team = fielder.team -%>
  <%- if !team.blank?
        style = "class = 'teamed'"
      elsif @currentowner.wanted_draft_players.include?(fielder)
        if(index =  @currentowner.wanted_draft_players.index(fielder))
          wanted = @currentowner.wanted_draft_players[index]
          style = "style = 'background: ##{wanted.highlight}'"
        else
          style = "class = 'available'"
        end
      else
        style = "class = 'available'"
      end
  -%>
  <tr <%= style.html_safe %>>
      <td><%= link_to("#{fielder.fullname}", draft_player_url(fielder)) %></td>
      <td><%= link_to(fielder.position, :controller => 'players', :action => 'index', :position => fielder.position.downcase) %></td>
      <td><%= team.blank? ? '' : team.abbrev  %></td>
      <td><%= display_rankvalue(fielder.rankvalue) %></td>
      <%- @bsp.column_list.each do |stat| %>
        <%- if stat == 'lops' %>
        <td><%= ops_display(fielder,'left')%></td>
        <%- elsif stat == 'rops' -%>
          <td><%= ops_display(fielder,'right')%></td>
        <%- elsif (DraftBattingStatline::RATINGFIELDS.values.include?(stat)) -%>
          <td><%= position_check(fielder,rating_field) %></td>
        <%- else -%>
          <td><%= fielder.statline.send(stat) %></td>
        <%- end -%>
      <%- end -%>
  </tr>
  <% end %>
  </tbody>
</table>
