<% @page_title = "#{@player.fullname}" %>

<div class="page-header">
  <h1><%= @page_title.blank? ? controller.controller_name : @page_title %>
    <%- if @player.teamed? -%>
    <small><%= playerteamlink(@player) %></small>
    <%- else -%>
    <span id="playerwantaction"><%= playerwantlink(@player,'playerwantaction') %></span>
    <%- end -%>
  </h1>
</div>

<div class="row">
  <div class='col-md-8'>
    <div id="wantedform" class="well", style="display:none;">
      <%= render(:partial => 'playerwantform') %>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-4'>
    <h3> Player Information </h3>
    <% if @player.class.name == 'Batter' %>
      <%= render(:partial => 'player_info_batter') %>
    <% else %>
      <%= render(:partial => 'player_info_pitcher') %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3> Core Stats </h3>
    <% if @player.class.name == 'Batter' %>
      <%= render(:partial => 'corestats_batter') %>
    <% else %>
      <%= render(:partial => 'corestats_pitcher') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class='col-md-4'>
    <h3> Additional Stats </h3>
    <% if @player.class.name == 'Batter' %>
      <%= render(:partial => 'otherstats_batter') %>
    <% else %>
      <%= render(:partial => 'otherstats_pitcher') %>
    <% end %>
  </div>
</div>


<script class="code" type="text/javascript">
	$('#playerwantadd').click(function() {
		$('#wantedform').fadeIn('fast', function() {
			// Animation complete
		});
	});

	$('#playerwantcancel').click(function() {
		$('#wantedform').fadeOut('fast', function() {
			// Animation complete
		});
	});

 </script>
