<table class="table table-bordered">
  <thead>
    <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>File Date</th>
        <th>Uploaded At</th>
        <th>Uploaded By</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%- @uploads.each do |upload| -%>
        <tr>
          <td><%= upload.archivefile_file_name %></td>
          <td><%= humanize_bytes(upload.archivefile_file_size) %></td>
          <td><%= upload.archivefile_updated_at %></td>
          <td><%= upload.created_at %></td>
          <td><%= upload.owner.nickname -%></td>
          <td><%= upload.processing_status_to_s -%></td>
          <td>&nbsp;</td>
        </tr>
    <%- end -%>
  </tbody>
</table>
