<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag    "application" %>
    <%= javascript_pack_tag "application" %>
    <%= csrf_meta_tags %>
    <title><%= @page_title %></title>
  </head>
  <body>

  <%- if @draftmode -%>
    <%= render(:partial => 'shared/draftnav') %>
  <%- else -%>
    <%= render(:partial => 'shared/navbar') %>
  <%- end -%>

    <div class="container-fluid">
      <div id="flash">
      <%= render(:partial => 'shared/flashmessages') %>
      </div>
      <%- if @showsearchresults and !@searchpage-%>
      <div id="search-results"></div>
      <%- end -%>
      <%= yield %>
    </div>

  </body>
</html>
