<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <title><%= @page_title %></title>
  </head>
  <body>

  <%- if @draftmode -%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <%= link_to("Busterdraft",draft_root_path,:class=>'navbar-brand mb-0 h1')%>
        <%= render(:partial => 'shared/draftnav') %>
    </nav>
 <%- else -%>
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <%= link_to("Busterleague",home_path,:class=>'navbar-brand mb-0 h1')%>
      <%= render(:partial => 'shared/navbar') %>
   </nav>
 <%- end -%>

    <div class="container-fluid">
      <div id="flash">
      <%= render(:partial => 'shared/flashmessages') %>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
